<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>notePULL</title>
    <meta name="COGS120" content="Sign Up">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/note.css">
    <!-- Bootstrap Form Helpers -->
    <link href="/css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">
    <!-- Add Responsiveness
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">-->
    <!-- Social Media Buttons -->
    <link href="/css/social-buttons-3.css" rel="stylesheet">
    <!-- Extra Icons -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

    <body>
        <div class="container">
            <!-- COPY AND PASTE THIS FOR THE SIDE BAR CODE -->
             <div class="row row-offcanvas row-offcanvas-left">
                <!-- this is the other column in the code -->
                <div class="col-xs-12 col-sm-9 main" id="column2">
                   <!-- <p class="pull-left visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Menu</button>
                    </p>-->
                    <div id="toolbar">
                        <a href="#" class="pull-left visible-xs" data-toggle="offcanvas"><i class="fa fa-list-ul fa-2x" style="color: white; padding-left:5px;"></i></a>
                    </div>
                    <!--<div id="notepageRead">
                    <div id="date-div">
                        <span id="date">{{date}}<span>
                    </div>
                    <h3>{{title}}</h3>
                    <ul>
                    {{#each notes}}
                        <li class="note {{tag}}">{{note}}</li>
                    {{/each}}
                    </ul>
                    </div>-->
                    <!--<div id="toolbar">
                        <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-tag"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-indent-left"></span></a>
                        <a href="read.html" id="submitNote"><span class="glyphicon glyphicon-ok" id="done-icon"></span></a>
                    </div>-->
                    <div class="btn-group sortControl" id="sortNotesControl">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span id="sortNotesButton">Sort By</span><span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="/sort/{{id}}/alpha" data-order="alpha">Title: A-Z</a></li>
                            <li><a href="/sort/{{id}}/alphadesc" data-order="alphadesc">Title: Z-A</a></li>
                            <li><a href="/sort/{{id}}/latest" data-order="latest">Date: Latest</a></li>
                            <li><a href="/sort/{{id}}/oldest" data-order="oldest">Date: Oldest</a></li>
                          </ul>
                    </div> 
                    <form id="folderForm" action="/edit/{{id}}" method="POST">
                        <div class="form-group">
                          <label for="folder_name">Name:</label>
                          <input id="folder_name" name="folder_name" placeholder="Folder Name" type="text" size="35" class="form-control" value="{{folder_name}}"/>
                        </div>
                        <span style="color: silver;">updated {{last_updated}}</span>
                        <ul>
                        {{#each folder}}
                            <!--<li class="note">{{note}}</li>-->
                            <li class="folder">
                                <a class="foldertitle" href="/edit/{{../id}}/{{@index}}">{{this.title}}</a> 
                                <div class="x"><a class="foldertitle" href="/delete/{{../id}}/{{@index}}">x</a></li></div>
                        {{/each}}
                        </ul>
                        <a href="/new/{{id}}" class="btn btn-default">ADD</a>
                        <input type="submit" id="submitBtn" class="btn btn-default submitButton" value="Update folder"></input>
                    </form>

                    <form id="deleteForm" action="/delete/{{id}}" method="POST">
                        <input type="submit" id="deleteBtn" class="btn btn-default submitButton" value="Delete folder"></input>
                    </form>
                </div>
            
        <!-- testing toolbar right now
            <div class="mastfoot">
                    <div class="inner">
                        <p style="color: black; text-align: center;">Created by Anindya Basu, Helena Qin, Yalin Zhang using <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
                    </div>
                </div>
            -->
            </div>
        
            <!-- END COPY PASTE HERE FOR SIDE BAR CODE -->
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/note.js"></script>
    </body>
</html>