<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>notePULL</title>
    <meta name="COGS120" content="Sign Up">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/css/note.css">
    <!-- Bootstrap Form Helpers -->
    <link href="/css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">
    <!-- Add Responsiveness
    <link href="css/bootstrap-responsive.css" rel="stylesheet">-->
    <!-- Social Media Buttons -->
    <link href="/css/social-buttons-3.css" rel="stylesheet">
    <!-- Extra Icons -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>

    <body>
        <div class="container" style="background-color:#fff">
            <!-- COPY AND PASTE THIS FOR THE SIDE BAR CODE -->
            <div class="row row-offcanvas row-offcanvas-left">
                <!-- this is the other column in the code -->
                <div class="col-xs-12 col-sm-9 main" id="column2">
                   <!-- <p class="pull-left visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Menu</button>
                    </p>-->
                    <div id="toolbar">
                        <a href="/edit/{{f_id}}" id="backButton"><i class="fa fa-chevron-left fa-2x" style="color:#ed1c47;float:left;"></i></a>
                        <a href="#" id="colorsButton"><span class="glyphicon glyphicon-tag" id="colorsButtonIcon"></span></a>
                        <a href="/read.html" id="submitNote"><span class="glyphicon glyphicon-ok" id="done-icon"></span></a>
                    </div>
                    <div id="notepage">
                        <input id="title" placeholder="Title" type="text" size="35" value="{{title}}"/>
                        <div>
                        <div id="date-div">
                            <span id="date-edit">{{date}}<span>
                        </div>
                            <!--<textarea rows="20" class="form-control"></textarea>-->
                        <ul id="notelist">
                            {{#each notes}}
                                <li>
                                    <div contenteditable="true" class="note edit-note" data-tag="{{tag}}" onclick="hello(this);">{{note}}</div>
                                    <a href="/delete/{{../f_id}}/{{../n_id}}/{{@index}}" class="btn-xs deleteNote"><i class="fa fa-times"></i></a>
                                </li>
                            {{/each}}
                        </ul>
                        <div id="newnote"class="edit-note" data-tag="0" style="text-align:center;font-weight:bold">+</div>
                        </div>
                        <form id="submitForm" action="/edit/{{f_id}}/{{n_id}}" method="POST"></form>
                        <form id="deleteForm" action="/delete/{{f_id}}/{{n_id}}" method="POST">
                            <input type="hidden" id="deleteBtn" class="btn btn-default submitButton" value="Delete note" visibility="hidden"></input>
                        </form>
                    </div>  
                    
                </div>
            
        <!-- testing toolbar right now
            <div class="mastfoot">
                    <div class="inner">
                        <p style="color: black; text-align: center;">Created by Anindya Basu, Helena Qin, Yalin Zhang using <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
                    </div>
                </div>
            -->
            </div>
        
            <!-- END COPY PASTE HERE FOR SIDE BAR CODE -->
        </div>
        <div id="myModal1" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Select a color for highlighting bullets.</h4>
                                    </div>
                                    <div class="modal-body">
                                    <div class="col-sm-5">
                                        <div class="btn-group highlight-toggle" data-toggle="buttons">
                                          <label class="btn btn-primary" style="width:40%" id="hi-on">
                                            <input type="radio" name="highlight-option" id="hon"> on
                                          </label>
                                          <label class="btn btn-primary active" style="width:40%" id="hi-off">
                                            <input type="radio" name="highlight-option" id="hoff"> off
                                          </label>
                                        </div>
                                        <a href="#" class="foo" id="red" style="background-color:red" onClick="selectColor(this)"></a>
                                        <a href="#" class="foo" id="green" style="background-color:green" onClick="selectColor(this)"></a>
                                        <a href="#" class="foo" id="blue" style="background-color:blue" onClick="selectColor(this)"></a>
                                        <a href="#" class="foo" id="yellow" style="background-color:yellow" onClick="selectColor(this)"></a>
                                        <a href="#" class="foo" id="none" style="background-color:transparent" onClick="selectColor(this)"></a>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Save and Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="/js/jquery-1.9.0.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/note.js"></script>
        <script>
        $('.btn').button();
        var curr_note_folder = {{f_id}};
        var curr_note = {{n_id}};</script>
    </body>
</html>